.treeview ul {
    margin-top: 4px;
}

.treeview li {
	background: url("../img/list.gif") no-repeat;
    margin: 0;
    padding: 3px 0pt 3px 16px;
}

.treeview li.submenu {
	background: url("../img/closed.gif") no-repeat left 1px;
	cursor: hand !important;
    cursor: pointer !important;
}
.treeview li.submenu ul {
    display: none;
}

.treeview .submenu ul li{
    cursor: default;
}
