{% extends "admin/base.html" %}

{% block content %}
<h2>Kho<strong> > </strong> Theo dòi hàng hóa</h2>
<hr/>
<p>Hiện các thông tin, số lượng hàng hóa trong việc quyên góp hiện có trong các kho hàng trên toàn quốc</p>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Tỉnh/thành</th>
      <th>Địa chỉ</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for x in storages %}
      <tr>
      <td>{{x.id}}</td>
      <td>{{x.location.location}}</td>
      <td>{{x.address}}</td>
      <td><button onclick="approveCampaign({{x.id}})">Xem</button></td> <!-- Nút bấm -->
    </tr>
    {% endfor %}
  </tbody>
</table>

<p>{{reports.count}} donation campaigns</p>

<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }

  header {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  nav a {
    text-decoration: none;
    margin-right: 10px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  .permitted {
    color: green;
  }

  .not-permitted {
    color: red;
  }

  button {
    padding: 5px 10px;
    background-color: #4CAF50; /* Màu xanh */
    color: white;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049; /* Màu xanh đậm hơn khi hover */
  }
</style>

<script>
  function approveCampaign(id) {
    window.location.href = `/admin/storage_follow_up/${id}/`
  }
</script>
{% endblock %}