{% extends "admin/base.html" %}

{% block content %}
<h2>Phê duyệt và xác nhận <strong> > </strong> Hoạt động kêu gọi quyên góp của tổ chức</h2>
<hr/>
<p>Xem xét và xét duyệt các chiến dịch thiện nguyện, các hoạt động kêu gọi quyên góp của các tổ chức thiện nguyện.</p>

<div class="campaign-card">
    <div class="status active">Sẵn sàng để kêu gọi</div>

    <div class="info">
        <p><strong>Tổ chức:</strong> {{detail.org.user_info.name}}</p>
        <p><strong>Hoạt động:</strong> {{detail.title}}</p>

        <p><strong>Nội dung:</strong></p>
        {{detail.content|safe}}
        {% for pic in detail.pictures.all%}
        <img style="width: 20%" src="{{pic.path}}"/>
        {% endfor %}
        <p><strong>Yêu cầu quyên góp:</strong> Hiện Kim (VND)</p>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Nơi cứu trợ</th>
                <th>Khoản cứu trợ (dự kiến)</th>
            </tr>
            </thead>
            <tbody>
            {% for x in detail.locations.all %}
            <tr>
                <td>{{x.id}}</td>
                <td>{{x.location.location}}</td>
                <td>{{x.expected_fund}} {{detail.supply_type.unit}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <p><strong>Ngày dự kiến hoạt động bắt đầu:</strong> {{detail.expected_charity_start_date}}</p>
        <p><strong>Ngày dự kiến hoạt động kết thúc:</strong> {{detail.expected_charity_end_date}}</p>
        <p><strong>Trạng thái:</strong> <span class="permitted">Chờ xét duyệt</span></p>
        <p><strong>Bài báo tham khảo:</strong>
        <ul>
            {% for art in details.enclosed_article.all%}
            <li><a href="{{art.real_path}}">{{art.title}}</a></li>
            {% endfor %}
        </ul>
        </p>
    </div>

    <p><strong>Lần xác nhận thứ {{approval.time_id}}, hãy chọn người cho lần xét duyệt tiếp theo</strong></p>
    <select id="next_admin">
        {% for ad in admins %}
        <option value="{{ad.user_info.id}}">{{ad}}</option>
        {% endfor %}
    </select><br><br>

    <label for="final_approval">Hoặc, Phê duyệt như người cuối cùng:</label>
    <input id="final_approval" name="final_approval" type="checkbox">
    <button class="history" onclick="approveCampaign({{detail.id}})">Phê duyệt</button>
</div>

<style>
    .campaign-card {
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 100%;
      margin-top: 50px;
  }

  .status {
      display: inline-block;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: bold;
  }

  .active {
      background-color: lightgreen;
  }

  .close, .history {
      float: right;
      margin-left: 10px;
      padding: 5px 10px;
      border: none;
      background-color: #f0f0f0;
      border-radius: 5px;
      cursor: pointer;
  }

  .info {
      margin-top: 20px;
  }

  .permitted {
      color: red;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }
</style>

<script>
    function approveCampaign(id) {
      checkedFinal = document.getElementById("final_approval").checked
      nextAdmin = document.getElementById("next_admin").value

      data = {
        "is_final": checkedFinal,
        "next_admin": nextAdmin,
        "cur_admin": {{request.user.id}}
      }
      fetch(`/donation_campaign/${id}/approve/`, {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
      })
      .then(response => response.json())
      .then(data => {
          console.log('Success:', data);
          window.location.href = '/admin/'
      })
      .catch((error) => {
          alert(error);
      });

    }
</script>
{% endblock %}